<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/alas.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <title>Arcangel Chamuel</title>
</head>

<body class="cbody">
  <header></header>
  <section>
    <article class="reseña-chamuel">
      <h1>Arcángel Chamuel</h1>
      <div>
        <img src="/images/chamuel/oracionchamuel.webp" alt="">
      </div>
      <p>El arcángel Chamuel busca la gloria de Dios, él representa la sabiduría que da el amor divino, ya que el amor
        es lo único con lo que los arcángeles pueden estructurar la paz, la felicidad y la armonía. <br>
        El amor es la base de nuestra evolución, es llegar a la comprensión pura de que todos somos hijos de un mismo
        Padre, por lo que no hay razón para los conflictos entre razas o religiones, porque el amor derrumba todas estas
        barreras. Para recibir esta bendición angelical debemos abrir nuestro corazón. <br>
        Debemos acudir a Chamuel para que nos enseñe a encontrar el amor y a proyectarlo al resto del mundo. Cuando
        creemos en él y obtenemos la gracia del Padre, nada ni nadie nos puede hacer daño. <br>
        El amor expresado por el arcángel Chamuel es aquel que mueve a gratitud a los corazones humanos, ángeles y
        elementales. <br>
        El estuvo separado de las conciencia humanas por muchos siglos y los humanos no tenían accesop a su preferencia.
        Pero ahora los estudiantes pueden sincronizar sus mundos con el de este arcángel y sentir, a través de él, el
        gran amor que Dios tiene para su creación.</p>
    </article>
    <article class="caracteristicas-chamuel">
      <h2>Características:</h2>
      <h4>Día: Martes <br>
        Virtud: Amor divino <br>
        Arcangelina: Caridad <br>
        Chakra: Cardiaco. Identificado con el número 4</h4>
      <h4>Arcangelina Caridad</h4>
      <div>
        <img src="/images/chamuel/caridad.jpg" alt="">
      </div>
      <p> El complemento divino del Arcángel Chamuel es la Arcangélina Caridad. Ella ínsita en nosotros el desarrollo de
        las cualidades femeninas de misericordia, compasión, ternura y empatía. Ella representa la cualidad y actividad
        de la caridad para la Tierra. La caridad es la cualidad del amor perdonador, nos ayuda a desarrollar la perfecta
        caridad hacia nosotros mismos y hacia los demás, perdonarnos y perdonar a los otros. El perdón nos ayuda a
        evolucionar, su llama anclada dentro de nosotros, alrededor de
        nuestro corazón, puede consumir los sentimientos equivocados y duros. Como el verdadero perdón es un sentimiento
        y no simplemente una cosa intelectual, cuando a su llama se le deja fluir lo suficiente previene la acción de la
        discordia en todas nuestras relaciones.</p>
      <h4>LLAMA ROSA DEL AMOR DIVINO</h4>
      <p>La llama rosa es auxiliadora para alcanzar el amor, para desarrollar nuestro Yo crístico y para buscar la
        armonía en las relaciones. <br>
        Esta llama nos ayuda, a través de su árcangel, a encontrar la tolerancia, la creatividad, la fortaleza, la
        belleza, la adoración, lo afectivo, la bondad y en suma nos conduce hacia la sabiduría celestial. <br>
        Se le considera regente de todo lo relacionado con la hermosura, por ejemplo, los salones de belleza, los
        gimnasios, vestidos, decoraciones, etcétera. También rige sobre las casas de cambio, bolsas de valores y bancos.
      </p>
      <h4>Cuarto chacra Corazón</h4>
      <div>
        <img src="/images/chamuel/corazon.jpg" alt="">
      </div>
    </article>
    <article class="invocacion-chamuel">
      <h4>INVOCACIÓN AL</h4>
      <h3>ARCANGEL CHAMUEL</h3>
      <div>
        <img src="/images/chamuel/chamuel2.jpg" alt="">
      </div>
      <p>Amado arcángel Chamuel, te amo y te bendigo y te ruego que me mantengas sellado/a en un pilar de llama rosa de
        amor y adoración a Dios, hasta que se haga contagiosa a toda vida que yo contacte, hoy y siempre. <br>
        ¡Te doy las gracias!
        Bendiciones!!</p>
    </article>
  </section>
  <a class="volver" href="/">Volver a inicio</a>
</body>

</html>