<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/alas.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
    <title>Arcangel Gabriel</title>
</head>
<body class="gbody">
    <header></header>
    <main>
        <section>
            <article class="reseña-gabriel">
<h1>Arcángel Gabriel</h1>
<div>
    <img src="/images/gabriel/gabrieloracion2.jpg" alt="">
</div>
<p>Este arcángel guía a los ángeles de pureza, de nacimiento y de bautismo, con gran ternura. Y cuando nosotros se lo permitimos nos conduce a dar el primer paso para amar, que es perdonar. Cuando no perdonamos cerramos nuestro corazón, el amor se estanca y la vida se seca. El perdón siempre conduce a que el amor fluya desde lo profundo de cada ser. <br>
    Es conocido como el mensajero divino es aquel que trae las buenas nuevas. Cada vez que te sientas confuso, cuando en determinada situación no sepas qué hacer, ni qué pensar, cuando sientas como si Dios te hubiese abandonado (cosa que nunca es cierta si no una ilusión de la mente en tentación), invoca enseguida al arcángel Gabriel. Inmediatamente su complemento hará acto de presencia y entrará a dar consuelo a tu corazón. <br>
    El amado arcángel Gabriel, arcángel de la resurrección dice así: La religión no es únicamente cosa de ceremonia. Es asunto de vida diaria y de cada cosa que vivimos. Es cosa de sentido común y ordinario. Es asunto de disciplina dominio de sí mismo y contemplación, es también gratitud a ese Dios que te ha dado esa vida y ha sostenido tu presencia en el universo por millones de años, esperando cumplir, a través de ti, un destino que no puede ser cumplido por ningún otro individuo, una sección del gran tapiz cósmico que solo tu puedes llenar. </p>
            </article>
            <article class="caracteristicas-gabriel">
                <h3>Características:</h3>
                <h4> Día: miercoles <br>
                    Virtud: La pureza <br>
                    Arcangelina: Esperanza <br>
                    Chakra: Básico. Identificado con el número 1
                    </h4>
                    <h4>LLAMA BLANCA , LA ARMONÍA A TRAVÉS DEL CONFLICTO</h4>
                    <p>Es la llama de la purificación y la resurrección ; ayuda a expandir la luz y la vida. <br>
                        Esta llama es la encargada de proteger todos los procesos de gestación, y por ello ayuda a llevar a buen término los embarazos y a proteger a los niños de diversas enfermedades y males congénitos. Una vez nacidos, les ayuda a sanar, tanto a ellos como a las madres, cualquier herida que se produzca. <br>
                        Dirige todos los centros de maternidad, de atención al recién nacido y los orfanatos. <br>
                        Esta llama también rige los mensajes de todos los medios de comunicación, siempre que estos sean positivos y ayuden a la evolución del ser humano.</p>
                        <h4>Arcangelina Esperanza</h4>
                        <div>
                            <img src="/images/gabriel/esperanza3.jpg" alt="">
                        </div>
                        <p>Es el complemento energético del Arcángel Gabriel, por lo tanto el color que la representa es el Blanco Plateado. <br>
                            Ellos Fueron los que protegieron con su Manto Blanco de Invisibilidad a Jesús, María y José, en su huida a Egipto, contra la persecución del Rey Herodes. <br>
                            Podemos pedirle ayuda para recuperar la armonía, liberar las tensiones y bajar la agresión para con nuestros cuerpos inferiores, ascender en todos los planos, pedirle el manto de invisibilidad, etc. <br>
                            Envolviendo en su luz Blanco Plateado nuestros problemas, nos ayudan a ver la solución de los mismos con mayor claridad. <br>
                            Nos brinda paz espiritual y genera un campo positivo que ayuda a los ángeles del Rayo Blanco en su tarea. <br>
                            En realidad conjuntamente con el Arcángel Gabriel y el Ángel de la Armonía son excelentes catalizadores de la energía de todos los ángeles, tengamos presente que el Blanco Plateado es la sumatoria de todas las energías, por eso dentro de él están todas las virtudes.</p>
                            <h3>Chacra numero 1 raiz</h3>
                            <div>
                                <img src="/images/gabriel/chacragabriel.jpg" alt="">
                            </div>
            </article>
            <article class="invocacion-gabriel">
                <h4>INVOCACIÓN AL</h4>
                <h3>ARCÁNGEL GABRIEL</h3>
                <div>
                    <img src="/images/gabriel/gabriel4.jpg" alt="">
                </div>
                <p>Amadísimo Gabriel, arcángel de la pureza y de la resurección, te amo y te bendigo y te doy gracias por lo que tu significas para mí y para todos los niños y juventud de esta Tierra. carga estos mis decretos con tu presión cósmica de amor: <br>
                    ¡Yo soy la resurrección y la vida! <br>
                    ¡Yo soy la resurrección y la vida! <br>
                    ¡Yo soy la resurrección y la vida! <br>
                    ¡Te doy las gracias, en nombre de todos! <br>
                    Bendiciones!!!</p>
            </article>
        </section>
        <a class="volver" href="/">Volver a inicio</a>
    </main>
</body>
</html>