<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/alas.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>Arcangeles</title>
</head>
<body>
    <header></header>
    <body class="index">
        <div class="general">
            <div class="miguel">
                <a class="aindex" href="/miguel">Miguel</a>
                <p class="pindex">Yo soy fe</p>
            </div>
            <div class="jofiel">
                <a class="aindex" href="/jofiel">Jofiel</a>
                <p class="pindex">Yo soy sabiduria</p>
            </div>
            <div class="chamuel">
                <a class="aindex" href="/chamuel">Chamuel</a>
                <p class="pindex">Yo soy amor</p>
            </div>
            <div class="gabriel">
                <a class="aindex" href="/gabriel">Gabriel</a>
                <p class="pindex">Yo soy pureza</p>
            </div>
            <div class="rafael">
                <a class="aindex" href="/rafael">Rafael</a>
                <p class="pindex">Yo soy salud</p>
            </div>
            <div class="uriel">
                <a class="aindex" href="/uriel">Uriel</a>
                <p class="pindex">Yo soy abundancia</p>
            </div>
            <div class="zadquiel">
                <a class="aindex" href="/zadkiel">Zadkiel</a>
                <p class="pindex">Yo soy perdon</p>
            </div>
        </div>
    </body>
</body>
</html>