<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/alas.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <title>Arcangel Miguel</title>
</head>

<body class="bmiguel">
  <header></header>
  <main>
    <section>
      <article class="reseña-miguel">
        <h1>Arcángel Miguel </h1>
        <div>
          <img src="/images/miguel/miguel.jpg" alt="">
        </div>
        <p>A lo largo de la historia la figura del arcángel Miguel aparece en diversas culturas, bajo diferentes
          manifestaciones, pero siempre con la tarea de presidir a la humanidad y mandarla las naciones. Es nuestro
          protector por excelencia.<br>Es citado en la Biblia como el príncipe Miguel y es el más conocido de todos los
          arcángeles. Es el guardián de
          la fe y protector contra el mal. Las millones de oraciones dirigidas a él, le han atraído muy cerca de la
          tierra. Ostenta una serena y espléndida actitud de fe y confianza en Dios. <br>Constantemente responde a las
          necesidades de la gente que sufre y lo invocan. Por su albedrío escogió ser el
          guardián de la fe del hombre en su Dios al comienzo de la encarnación humana sobre la Tierra.</p>
      </article>
      <article class="caracteristicas-miguel">
        <h3>Características:</h3>
        <h4>Día: Domingo <br>
          Rayo: Azul <br>
          llama: azul zafiro <br>
          Arcangelina: Fe <br>
          Virtud: la fe la voluntad y el poder <br>
          Chakra: Laríngeo Identificado con el número 5</h4>
        <p>Es la llama que asiste a los agonizantes y a los muertos. <br>Ayuda a cortar lazos emocionales. <br> Protege
          las casas y ayuda a limpiar su energía. <br> Es la llama de la manifestación del poder de Dios, de su unidad y
          de la fuerza que proporciona la fe en ÉL.</p>
        </p>
          <h3>Arcangelina Fe</h3>
          <div>
            <img src="/images/fe.jpg" alt="">
          </div>
          <p> Ella es el complemento femenino del divino arcángel Miguel y, por tanto, es guerrera como él. Nos protege
            y asiste cuando nos encontramos en alguna dificultad. Asiste para manifestar la justicia divina. <br>
            Nos permite con el rayo azul limpiar toda negatividad a nuestro alrededor y protegernos de todo mal.</p>
          <h4>Chacra Laringeo numero 5</h4>
            <img src="/images/miguel/chacramiguel.jpg" alt="chacra5">
          </div>
        </div>
      </article>
      <article class="invocacion-miguel">
          <h4>INVOCACIÓN AL</h4>
          <h3>ARCÁNGEL MIGUEL</h3>
          <div>
            <img src="/images/miguel/miguel5.jpg" alt="">
          </div>
          <p>¡En nombre de la amadisima presencia de Dios YO SOY en mí y en toda la humanidad! Invoco tu presencia,
            amado
            Miguel Arcángel, y a tus legiones de ángeles azules para que me protejan a mí, a mis seres queridos y a toda
            la humanidad. ¡Te doy las gracias! <br>Bendiciones!!</p>
      </article>
    </section>
    <a class="volver" href="/">Volver a inicio</a>
  </main>
</body>

</html>