<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/alas.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <title>Arcangel Rafael</title>
</head>

<body class="rbody">
  <header></header>
  <main>
    <section>
      <article class="rafael-reseña">
        <h1>Arcángel Rafael</h1>
        <div>
          <img src="/images/rafael/rafael2.jpg" alt="">
        </div>
        <p>Es el arcángel que sana, el de la medicina, el de la ciencia, el protector de los convalecientes; es el
          patrón de los doctores, de las enfermeras y demás trabajadores de la salud. <br>
          Es poseedor del amor divino para asistir en el dolor, para auxiliar en satisfacer necesidades y siempre
          encuentra solución a todo tipo de deudas difíciles. Rafael mantiene una corte de ángeles que están preparados
          para absorber el poder curativo de Dios, reternerlo dentro de ellos y luego llevarlo a los seres con fe que
          piden la sanación del cuerpo. <br>
          Es el guardián del árbol de la vida, de los ríos y los bosques. Se le asocia con las hierbas medicinales, el
          naturismo y el vegetarianismo. <br>
          El amado arcángel Rafael dice así: "Conságrate diariamente, si tus ojos ve iniquidad, es porque estas viendo
          sin amor, tu sabes donde esta YO SOY. Dirigite a él mentalmente y di: Padre, perdona mi trasgresión a la ley
          del amor, amado Rafael consagra mis ojos para que vean únicamente perfección. Si escuchas chismes y
          murmuraciones, si tus manos hacen gestos impacientes y dejas brotar palabras de ira, di: padre perdóname el
          mal uso de tu energía. ¿Qué importa que tengas que repetirlo incontables veces?</p>
      </article>
      <article class="caracteristicas-rafael">
        <ul>
          <h2>caracteristicas</h2>
          <li><a>Día: Jueves</a></li>
          <li><a>Virtud: La verdad</a></li>
          <li><a>Arcangelina: Madre María</li>
          <li><a>Chakra: Tercer ojo. Identificado con el número 6.</a></li>
        </ul>
        <h4>LA LLAMA VERDE, LA MEDICINA DE DIOS</h4>
        <p> Es la llama de curación y de la protección física.
          Se encarga de las vocaciones y de la consagración de los servidores de Dios en nuestro planeta.
          Es la llama de la unión familiar, de los matrimonios, de los animales, de las viudas, de la medicina en
          general y de los ciegos.
          Protectora de los viajeros, de los conductores, de los mecánicos, carros, trenes y transportes en general.</p>
          <h3>Arcangelina Madre Maria</h3>
        <div class="madremaria">
          <img src="/images/rafael/madre-maria.jpg" alt="">
        </div>
        <p>La Madre María es conocida universalmente como la Santa Virgen, que concibió a Jesús a través del Espíritu
          Santo y lo trajo al mundo. Es la más conocida de todos los santos. Es la reina de los ángeles, que se
          materializa en el aspecto de la virgen y madre de la diosa de la trinidad. María es la energía divina femenina
          reconocida del cristianismo. A través del tiempo ha salvado la primitiva fuerza femenina en la época del
          cristianismo, que era enemigo de las mujeres. El nombre de María procede del nombre hebreo Miriam y significa
          “sublime, fuerte, poderoso”, pero también “obstinado” e “indomable”. Durante la Edad Media se evitó el nombre
          de la Madre de Jesús como nombre de pila, pero después de la reforma tuvo difusión universal: con sus
          numerosas variaciones, se trata de uno de los nombres de mujer más frecuentes.</p>
        <h2>simbolo del chacra del tercer ojo</h2>
        <div>
          <img src="/images/rafael/chakrarafael.jpg" alt="">
        </div>
      </article>
      <article class="invocacion-rafael">
        <h3>INVOCACION AL ARCANGEL RAFAEL</h3>
        <p>Amado Rafael, Arcángel de la curación y de la consagración, te amo y te bendigo y te doy las gracias por todo
          lo que has hecho por mí y por toda la humanidad.
          Sellame en tu llama de curación y de la consagración y ayúdame a estar conciente únicamente de la perfección.
          ¡Te doy las gracias!
          Bendiciones!!</p>
      </article>
    </section>
    <a class="volver" href="/">Volver a inicio</a>
  </main>
</body>

</html>