<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/alas.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>Arcangel Uriel</title>
</head>
<body class="ubody">
    <header></header>
    <main>
        <section>
            <article class="reseña-uriel">
                <h1>Arcángel Uriel</h1>
                <div>
                    <img src="/images/uriel/uriel2.png" alt="">
                </div>
<p>Se le asocia con la humanidad para derrotar la ignorancia y alcanzar así la espiritualidad. Cuando nos acercamos a Uriel, de manera voluntaria para ayudarle a enviar su luz de amor y felicidad al hombre, él nos evita el dolor, nos da regalos del Padre y nos protege. <br> 
    Es el arcángel del suministro, él mismo afirma que sólo un pensamiento elevado hacia Dios es como si lo invocaran a él, a Uriel, en ese instante. Ustedes deben saber que cada uno de nosotros tiene un ángel guardián, que es su ángel de suministro durante todos los siglos que permanecemos en evolución humana; o lo que es lo mismo este ángel nos acompañara en todas nuestras encarnaciones en el plano humano. <br>
     Uriel es el patrón de los ángeles de la guarda, el nos suministrara cualquier cosa que necesitemos, sea lo que sea.</p>
            </article>
            <article class="caracteristicas-uriel">
                <h2>caracteristicas</h2>
                <h4>Día: Viernes. <br>
                    Virtud: Gracia. <br>
                    Llama: Oro-Rubi. <br>
                    Arcangelina: Gracia. <br>
                    Chakra: Plexo solar. Identificado con el número 3</h4>
                    <h2>Arcangelina Gracia</h2>
                    <div>
                        <img src="/images/uriel/gracia.jpg" alt="">
                    </div>
                    <p>Complemento Divino del Arcángel URIEL. (Santísima Virgen de Alta Gracia). Que nos enseña a vivir en “ESTADO de Gracia”, para que venga todo lo que necesitamos para nuestras vidas. <br>
                        Uriel y Gracia (quien también se conoce como Aurora) enseñan cómo aplicar el Perdón Absoluto en cada área de nuestras vidas, como una llama primordial para trascender a los reinos humanos de consciencia. <br>
                        Arcangelina Gracia otorga la inocencia Divina y la Gracia de estar en servicio de la misma Luz, también otorga el donde la Gratitud en los Hijos Divinos. Invoca su Presencia Divina. <br>
                        Podemos invocar a Uriel y Gracia (o Aurora) para que nos muestren como sanar cada aspecto de nuestras vidas, transformar decepciones en victorias, encontrar las bendiciones en adversidad y liberar las cargas dolorosas y las memorias del pasado.</p>
                        <h2>Chacra numero 3 Plexo Solar</h2>
                        <div>
                            <img src="/images/uriel/chacrauriel.jpg" alt="">
                        </div>
            </article>
            <article class="invocacion-uriel">
                <h4>INVOCACION AL</h4><br>
                <h3>ARCANGEL URIEL</h3>
                <div>
                    <img src="/images/uriel/urieloracion.jpg" alt="">
                </div>
                <p>Amado Uriel, arcángel de la providencia, te amo y te agradezco por tu abnegación hacia mí y hacia toda la humanidad por tantos dones. Ayúdame a mí y a mis seres queridos a conservar sin desvío el sendero de la paz, la armonía y la felicidad. ¡Te doy gracias!
                    Bendiciones!!</p>

            </article>
        </section>
        <a class="volver" href="/">Volver a inicio</a>
    </main>
</body>
</html>