<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/alas.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
    <title>Arcangel Zadkiel</title>
</head>
<body class="zbody">
    <header></header>
    <main>
        <section>
            <article class="reseña-zadquiel">
                <h1>Arcángel Zadkiel</h1>
                <div>
                    <img src="/images/zadquiel/zadquiel3.jpg" alt="">
                </div>
<p>Este arcángel dirige a los ángeles del sacramento de la eucarístia, su desarrollo espiritual es muy avanzado. Es el ángel de la misericordia, del perdón, de la benevolencia, la compasión, la memoria y las tradiciones. <br>
    Es el Príncipe de la profecía y de la inspiración, unido a las artes y la docencia. Trae ideas trasformadoras para concretar las metas de personas  débiles y desanimadas. <br>
    La influencia de zadkiel se hace sentir cuanto transitámos situaciones penosas, ya que su misión es alcanzarnos el perdón y llevar nuestras cargas espirituales. <br>
    Se le invoca cuando es necesario un cambio en una situación o personas de negativas a positivas.</p>
            </article>
            <article class="caracteristicas-zadquiel">
                <h3>caracteristicas:</h3>
                <h4> Día: Sabado <br>
                    Virtud: La compasión <br>
                    Arcangelina: Amatista <br>
                    Chakra: Sacro. Identificado con el número 2.</h4>
                <h3>Arcangelina Amatista</h3>
                <div>
                    <img src="/images/zadquiel/amatista.jpg" alt="">
                </div>
<p>Santa Amatista es la Arcangelina del Séptimo Rayo Violeta de la Transmutación, el Perdón y el Amor Compasivo. Ella es el complemento divino del Amado Arcángel Zadquiel quien rige el Sacerdocio de la Nueva Era. El Arcángel Zadquiel y la Santa Amatista sostienen Su Retiro Etérico sobre la Isla de Cuba en el Mar Caribe. <br>
    La Santa Amatista es la Arcangelina que da Su radiación, bendición y actividad en cada Amatista para beneficiar la tierra y todo ser humano. <br>
    Amatista quiere decir sin ebriedad o no borracho ya que este es el significado de Su nombre en Griego "AMETHYSIOS". Toda Amatista es la presencia solidificada de la Llama Violeta y la presencia de la Santa Amatista que saca de la ebriedad, de la mentira, enfermedad, maleficios, negatividad y odio a todo aquel que la use con devoción.</p>
    <h4>LLAMA VIOLETA, LA JUSTICIA DE DIOS</h4>
    <p>La llama de la justicia y la misericordia divina. <br>
        Transmuta las energías negativas en positivas. <br>
        Nos enseña la importancia de las ceremonias en nuestra vida cotidiana para lograr que nuestras palabras y actos sean una manifestación de entrega a Dios.</p>
        <h4>Chacra Sacro numero 2</h4>
        <div>
            <img src="/images/zadquiel/CHAKRAsacro.jpg" alt="">
        </div>
            </article>
            <article class="invocacion-zadquiel">
<h4>INVOCACION AL</h4>
<h3>ARCANGEL ZADKIEL</h3>
<div>
    <img src="/images/zadquiel/oracionzadquiel.jpg" alt="">
</div>
<p> Amado Zadkiel arcángel de la transmutación, te amo y te bendigo te doy las gracias por  tu gran servicio a mí y a todos los niños de nuestra tierra. <br>
    ¡Te ruego que liberes a todos los niños de todos los errores, pasados y presentes, ahora y para siempre! ¡Te doy las gracias en nombre de todos mis amiguitos! <br>
    Bendiciones!!!</p>
            </article>
        </section>
        <a class="volver" href="/">Volver a inicio</a>
    </main>
</body>
</html>